body{
    background-image: url("https://images.pond5.com/glowing-red-triangle-polygons-background-footage-071472630_prevstill.jpeg");
    background-size: cover; 
    background-position: center center;

}

.menu{
    border-style: solid;
    border-width: 1px;
    border-color: #DF0202;
    float:left;
    width: 100%;
    background-color: #090706;
}

.search{
    color:white;
    background-color:black;
    border-style: solid;
    border-width: 1px;
    border-color: #DF0202;
}

.lista{
    list-style-type: none;
}

.link{
    color:grey;
}

.name{
    text-align: center;
    color:white;
    font-family: Stencil Std, fantasy;
    text-shadow: 5px 5px black;
}

.img{
    width:40%;
}

.mid {
    height:800px;
    background-color: #090706;
    float: left;
    border-style: solid;
    border-width: 1px;
    border-color: #DF0202;
}

.bottom {
    border-style: solid;
    border-width: 1px;
    border-color: #DF0202;
    background-color: #090706;
    float:left;
    width:100%;
    color:white;
}

@media (max-width: 780px){
    .logo{
        display: none;
    }
}

