html{
    scroll-behavior: smooth;
}

body{
    background-image: url("https://images.pond5.com/glowing-red-triangle-polygons-background-footage-071472630_prevstill.jpeg");
    background-size: cover; 
    background-position: center center;
}

.menu{
    border-style: solid;
    border-width: 1px;
    border-color: #DF0202;
    background-color: #090706;
}

.search{
    color:white;
    background-color:black;
    border-style: solid;
    border-width: 1px;
    border-color: #DF0202;
}

.lista{
    list-style-type: none;
    color:grey;
}

.link{
    white-space: nowrap;
}

.name a{
    text-decoration: none;
    white-space: nowrap;
    text-align: center;
    color:white;
    font-family: Stencil Std, fantasy;
    text-shadow: 5px 5px black;
}

.img{
    width:110px;
}

.mid {
    height:800px;
    background-color: #090706;
    border-style: solid;
    border-width: 1px;
    border-color: #DF0202;
}

.bottom {
    border-style: solid;
    border-width: 1px;
    border-color: #DF0202;
    background-color: #090706;
    color:white;
}

@media (max-width: 1000px){
    .img{
        width:100px;
        height: 100px;
    }
}

@media (max-width: 450px){
    .name{
        font-size:150%;
    }
}

