html{
    scroll-behavior: smooth;
}

body{
    background-image: url("https://images.pond5.com/glowing-red-triangle-polygons-background-footage-071472630_prevstill.jpeg");
    background-size: cover; 
    background-position: center center;
}

.menu,.mid,.bottom,.opis,.akt{
    border-style: solid;
    border-width: 1px;
    border-color: #DF0202;
    background-color: #090706;
}

.akt{
    background-color: rgb(83, 83, 88);
    color:white;
}

.doWpisu{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
}

.godz{
    background-color: rgb(95, 93, 92);
    border: 1px solid red;
    padding-top: 20px;
    margin-bottom: 20px;
}


.lista{
    list-style-type: none;
    color:grey;
}

.link{
    white-space: nowrap;
}

.name a{
    text-decoration: none;
    white-space: nowrap;
    text-align: center;
    color:white;
    font-family: Stencil Std, fantasy;
    text-shadow: 5px 5px black;
}


.img{
    width:110px;
}

.magnifier{
    width:18px;
}

.more,.less,.link{
    cursor: pointer;
}

.moreContent,.less{
    display: none;
}

.doWpisu{
    height: 250px;
}

.bottom {
    color:white;
}

@media (max-width: 1000px){
    .img{
        width:100px;
        height: 100px;
    }
}

@media (max-width: 450px){
    .name{
        font-size:150%;
    }
}

