body{

    background-image: url("multimedia/spikes.png");
}

.top {
    background-color: red;
    padding: 5%;
}
.mid {
    background-color: blue;
    padding: 20%;
}
.bottom {
    background-color: lightgray;
 
}